.casilla{

    width:120px;
    height: 120px;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    color:#DF84F5 solid;
    border: #711189 solid 3px;
}

#tablero{

    width: 40%;
    margin: 0 auto;
    

}
#reiniciar
{
    width: 20px;
    height: 9px;
}
#turno
{
    font-size: 30px;
    
}